#search-form {
  flex: 1;
  padding: 0;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
}

#search-form.hidden {
  display: none;
  visibility: hidden;
}

#search-form input {
  background-color: transparent;
}

#search-form button {
  padding: 0;
  opacity: 1;
  width: 32px;
  padding-right: 10px;
  transition: opacity 0.2s;
}

#search-form button:disabled {
  opacity: 0.01;
  cursor: default;
}
