/*
#stations {
  flex: 1;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: flex-start;
}

#stations .station {
  flex: 1;
  display: flex;
  text-align: left;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

#stations .station .name {
  overflow: hidden;
  padding-left: 7px;
  text-overflow: ellipsis;
}


#stations .station .icon {
  width: 22px;
  min-width: 22px;
  overflow: hidden;
  text-align: center;
  transition: width, min-width 0.5s;
}

#stations .station .icon:last-child {
  opacity: 0.2;
  margin-left: auto;
}

#stations .isremovable .station .icon {
  width: 0;
  min-width: 0;
}
*/
