.editable-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.editable-container > * {
  position: absolute;
  overflow: hidden;
  transition-duration: 0.2s;
  transition-property: right;
}

.editable-container > .item {
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.editable-container > button {
  z-index: 90;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  width: var(--editableButtonWidth);
}

.editable-container button.edit {
  right: calc(0.001px - var(--editableButtonWidth));
}

.editable-container button.remove {
  right: calc(0.001px - calc(var(--editableButtonWidth) * 2));
}

/* ------------------------------------------------------

 STATE

------------------------------------------------------ */

.editable-container.iseditable .item button {
  cursor: default;
}

.editable-container.iseditable:hover .item {
  right: calc(0.001px + calc(var(--editableButtonWidth) * 2));
}

.editable-container.iseditable:hover button.remove {
  right: 0;
}

.editable-container.iseditable:hover button.edit {
  right: var(--editableButtonWidth);
}
