.editable-container {
  flex: 1;
  display: flex;
  cursor: default;
  overflow: hidden;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
}

.editable-item,
.editable-button {
  overflow: hidden;
  transition-duration: 0.4s;
  transition-property: right, margin-right;
}

.editable-item {
  flex: 1;
  margin-right: 0;
}

.editable-button {
  width: var(--editableButtonWidth);
  text-align: center;
  top: 0;
  bottom: 0;
  position: absolute;
  right: calc(0.001px - var(--editableButtonWidth));
}

/* ------------------------------------------------------

 STATE

------------------------------------------------------ */

.editable-container.iseditable {
  cursor: pointer;
}

.editable-container.iseditable .editable-button {
  /* add a (n)px border on right on 'can be deleted' state  */
  /* stylelint-disable-next-line length-zero-no-unit */
  right: calc(1px - var(--editableButtonWidth));
}

.editable-container.iseditable:hover .editable-item {
  margin-right: var(--editableButtonWidth);
}

.editable-container.iseditable:hover .editable-button {
  right: 0;
}
