#audio-player {
  flex: 0;
}

#audio-player > * {
  width: 100%;
}

/* ---------------------------------------------

 VOLUME & SOCIAL BAR

--------------------------------------------- */

#audio-player-controls {
  flex: 1;
  display: flex;
  padding: 5px 7px;
  flex-direction: row;
}

#audio-player-controls .equalizer {
  transform: scale(0.6);
}

/* ---------------------------------------------

 EQUALIZER

--------------------------------------------- */
