#stations {
  flex: 1;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: flex-start;
}

#stations .stations-scrollbox {
  width: 100%;
  scroll-behavior: smooth;
}

#stations .station {
  padding: 7px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  border-left: 3px solid transparent;
}

#stations .station-name {
  flex: 1;
  text-align: left;
}

.station-name .icon {
  margin-right: 7px;
}

/*
#stations-list .station .button {
  border: 0;
  width: 100%;
  padding: 12px;
  text-align: left;
  background: transparent;
}

#stations-list .station .button .icon { margin-right: 7px; }

*/
