body {
  color: rgba(157, 165, 181, 1);
}

button {
  transition: all 0.5s;
  color: rgba(157, 165, 181, 0.6);
}

button:hover {
  color: #FFF;
}

button.active:hover {
  color: #59ADF5;
}

button:disabled {
  cursor: default;
  color: rgba(157, 165, 181, 0.15);
}

/* --------------------------------------------------

 CLASSES

-------------------------------------------------- */

.scrollbox-list .item {
  transition: background-color 0.5s;
}

.scrollbox-list .item:hover,
.scrollbox-list .item.active {
  background-color: rgba(0, 0, 0, 0.3);
}

.scrollbox-list .item.active {
  color: #59ADF5;
}

.scrollbox-list .item:hover.active {
  color: #FFF;
}

.scrollbox-list .item:nth-child(even):not(:hover) {
  background-color: rgba(0, 0, 0, 0.1);
}

/* --------------------------------------------------

 APPLICATION

-------------------------------------------------- */

.application-screen {
  /* main theme color */
}

#application-header {
  background-color: rgba(0, 0, 0, 1);
}

#audio-player-cover {
  background-color: rgba(0, 0, 0, 0.3);
}

#stations,
#audio-player-controls {
  background-color: rgba(0, 0, 0, 0.5);
}

#audio-player-controls {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* --------------------------------------------------

 MENU

-------------------------------------------------- */

#menubar {
  background-color: rgba(0, 0, 0, 0.6);
}

#search-form input {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.2);
}
#search-form input::placeholder { color: #2C313A; }

/* --------------------------------------------------

 VOLUME

-------------------------------------------------- */

#volume-bar .bar .thumb,
#volume-bar.active.muted .bar .thumb {
  background-color: rgba(157, 165, 181, 0.35);
}

#volume-bar.active .bar .thumb {
  background-color: #FFF;
  box-shadow: 0 0 7px #59ADF5;
}

#volume-bar.active .bar:hover .thumb {
  background-color: #59ADF5;
}

#volume-bar .bar .track {
  background-color: rgba(157, 165, 181, 0.1);
}

/* --------------------------------------------------

 EQUALIZER/MUTE

-------------------------------------------------- */

#audio-player-controls .equalizer-bar,
#audio-player-controls .equalizer-bar::after,
#audio-player-controls .equalizer-bar::before {
  transition: background-color 0.5s;
  background-color: rgba(157, 165, 181, 0.3);
}

#audio-player-controls .equalizer.active .equalizer-bar,
#audio-player-controls .equalizer.active .equalizer-bar::after,
#audio-player-controls .equalizer.active .equalizer-bar::before {
  background-color: #FFF;
}

#audio-player-controls .equalizer.muted .equalizer-bar,
#audio-player-controls .equalizer.muted .equalizer-bar::after,
#audio-player-controls .equalizer.muted .equalizer-bar::before {
  background-color: rgba(157, 165, 181, 0.3);
}

#audio-player-controls .equalizer:hover .equalizer-bar,
#audio-player-controls .equalizer:hover .equalizer-bar::after,
#audio-player-controls .equalizer:hover .equalizer-bar::before {
  background-color: #59ADF5;
}
