body {
  color: rgba(157, 165, 181, 1);
}

button {
  transition: all 0.5s;
  color: rgba(157, 165, 181, 0.6);
}

button:hover {
  color: #FFF;
}

button:disabled {
  color: rgba(157, 165, 181, 0.15);
}

input[type='url'],
input[type='text'] {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.2);
}

input[type='url']::placeholder,
input[type='text']::placeholder {
  color: rgba(255, 255, 255, 0.1);
  transition: color 0.5s;
}

input[type='url']:focus::placeholder,
input[type='text']:focus::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

input[type='url']:disabled,
input[type='text']:disabled {
  color: rgba(255, 255, 255, 0.6);
}

/* --------------------------------------------------

 CLASSES

-------------------------------------------------- */

.scrollbox-list-item {
  transition-duration: 0.5s;
  transition-property: background-color;
}

.scrollbox-list-item .active {
  color: #FFF;
}

.scrollbox-list-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.scrollbox-list-item:nth-child(even):not(:hover) {
  background-color: rgba(0, 0, 0, 0.1);
}

.removable-container.isremovable:hover button {
  color: #FFF;
}

.removable-button {
  color: #FFF;
  background-color: #FA603F;
}

/* --------------------------------------------------

 THEMING
 Header Dark: #181A1F;
 Heade Light: #FBFBFB;

-------------------------------------------------- */

#application-header {
  overflow: hidden;
  background-color: #181A1F;
}

#application-header .overlay {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}

/* --------------------------------------------------

 TOASTER

-------------------------------------------------- */

#toasts-container .toast {
  color: rgba(255, 255, 255, 0.45);
}

#toasts-container .toast-static {
  background-color: #17191D;
  color: rgba(255, 255, 255, 0.25);
}

#toasts-container .toast-debug {
  background-color: #393C43;
}

#toasts-container .toast-error {
  background-color: #D23A26;
}

#toasts-container .toast-warning {
  background-color: #FA603F;
}

#toasts-container .toast:not(.toast-static) button {
  color: rgba(0, 0, 0, 0.15);
}

#toasts-container .toast:not(.toast-static):hover button {
  color: #711F0F;
}

/* --------------------------------------------------

 MENU

-------------------------------------------------- */

#menubar {
  background-color: rgba(0, 0, 0, 0.6);
}

#menubar .removable:hover,
#menubar .removable.active {
  color: #FA603F;
}

#menubar .removable:hover.active {
  color: #FFF;
}

#search-form {
  background-color: rgba(0, 0, 0, 0.2);
}

/* --------------------------------------------------

 AUDIO COVER

-------------------------------------------------- */

#track-cover {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px inset rgba(0, 0, 0, 0.5);
}

#track-cover button {
  color: #FFF;
}

#track-cover button:hover {
  color: #59ADF5;
}

/* --------------------------------------------------

 AUDIO CONTROLS

-------------------------------------------------- */

#audio-controls {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* --------------------------------------------------

 VOLUME

-------------------------------------------------- */

#volume-bar .bar .thumb {
  background-color: rgba(157, 165, 181, 0.35);
}

#volume-bar.active .bar .thumb {
  background-color: #FFF;
  box-shadow: 0 0 7px #59ADF5;
}

#volume-bar.active.muted .bar .thumb {
  background-color: rgba(157, 165, 181, 0.35);
}

#volume-bar.active .bar:hover .thumb {
  background-color: #59ADF5;
}

#volume-bar .bar .track {
  background-color: rgba(157, 165, 181, 0.1);
}

/* --------------------------------------------------

 EQUALIZER/MUTE

-------------------------------------------------- */

#audio-controls .equalizer-bar,
#audio-controls .equalizer-bar::after,
#audio-controls .equalizer-bar::before {
  transition: background-color 0.5s;
  background-color: rgba(157, 165, 181, 0.3);
}

#audio-controls .equalizer.active .equalizer-bar,
#audio-controls .equalizer.active .equalizer-bar::after,
#audio-controls .equalizer.active .equalizer-bar::before {
  background-color: #FFF;
}

#audio-controls .equalizer.muted .equalizer-bar,
#audio-controls .equalizer.muted .equalizer-bar::after,
#audio-controls .equalizer.muted .equalizer-bar::before {
  background-color: rgba(157, 165, 181, 0.3);
}

#audio-controls .equalizer:hover .equalizer-bar,
#audio-controls .equalizer:hover .equalizer-bar::after,
#audio-controls .equalizer:hover .equalizer-bar::before {
  background-color: #59ADF5;
}
