.easeInQuart {
  transition-timing-function: var(--easeInQuart);
}

/* -------------------------------------------------

 CSS TRANSITION

------------------------------------------------- */

/* ------- LIST ITEMS ------- */
.animated-list-item-enter {
  opacity: 0.01;
}

.animated-list-item-enter.animated-list-item-enter-active {
  opacity: 1;
  transition-duration: 0;
  transition-property: opacity;
  transition-timing-function: ease-in;
}

.animated-list-item-leave {
  opacity: 1;
}

.animated-list-item-leave.animated-list-item-leave-active {
  opacity: 0.01;
  transition-duration: 0;
  transition-property: opacity;
  transition-timing-function: ease-in;
}
