:root {
  --appWidth: 285px;
  --screenHeight: 300px;
  --menubarHeight: 40px;
  --draggableHeight: 22px;
  --editableButtonWidth: 52px;

  /* Tweenings */
  --easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
