@import url('./fontello/css/animation.css');
@import url('./fontello/css/fontello-embedded.css');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

body {
  font-size: 13px;
  overflow: hidden;
  line-height: 1.6;
  background: transparent;
  font-family: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
}

* {
  user-select: none;
  box-sizing: border-box;
}

button {
  border: 0;
  outline: none;
  font-size: 1em;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  background: transparent;
  text-overflow: ellipsis;
}

*[role="button"] {
  outline: none;
  cursor: pointer;
}

/* --------------------------------------------------

 CLASSES

-------------------------------------------------- */

.cover-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* --------------------------------------------------

 LAYOUTS

-------------------------------------------------- */
#root,
#application {
  height: 100%;
  min-width: 280px;
  overflow: hidden;
  min-height: 100%;
  max-height: 100%;
}

#root {
  border-radius: 5px;
  background: transparent;
}

#application,
#application-screen {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#application > *,
#application-screen > * {
  width: 100%;
}

#application-header {
  /* https://electronjs.org/docs/api/frameless-window#r%C3%A9gion-d%C3%A9pla%C3%A7able */
  -webkit-app-region: drag; /* error while devtools open */
  height: 22px;
  min-height: 22px; /* if titleBarStyle: 'hidden' */
}
#networker { top: 22px; /* equals application-header heights */ }

@import url('./css/scrollbox.css');
@import url('./css/_zindex.css');
@import url('./css/_colors.css');
