#track-cover {
  position: relative;
  text-align: center;
}

#track-cover .cover-container {
  width: 200px; /* manage #track-cover height */
  height: auto;
  margin: 0 auto;
  position: relative;
}

#track-cover .cover-image {
  top: 33px;
  width: 135px;
  height: 134px;
  position: absolute;
}

/*
#track-cover .cover-button {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
*/
