#volume-bar {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* ------------------------------------------------------------

 VOLUME BAR

------------------------------------------------------------ */
#volume-bar .bar {
  flex: 1;
  height: 11px;
  margin: 0 12px;
  position: relative;
}

#volume-bar .bar .ruler,
#volume-bar .bar .track,
#volume-bar .bar .thumb {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

#volume-bar .bar .track,
#volume-bar .bar .thumb {
  top: 5px;
  bottom: 5px;
}

#volume-bar .bar .thumb {
  transition-duration: 0.7s;
  transition-property: width, background-color;
}
